.main-content {
    min-height: calc(100vh - 200px);
}
.footer {
    background-color: rgb(37, 150, 190);
    padding: 2rem;
    margin-top: 20px;
}
.footer-logo {
    max-height: 200px;
    max-width: 200px;
}
.navbar {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
  padding: 0.5rem 1rem;
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
}
.navbar-nav {
    align-items: center;
}
.navbar-brand img {
    height: 100%;
    width: auto;
    max-height: 70px; /* Adjust this value according to your preferred maximum height */
}

@media (max-width: 767.98px) {
    .navbar-brand img {
        max-height: 50px; /* Adjust this value for smaller screens, if needed */
    }
}